<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Satellite Broadband"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name="com.satellite.broadband.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.satellite.broadband.UserActivity" />
        <activity android:name="com.satellite.broadband.AdminActivity" />

    </application>

</manifest>
